.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 1.2;
    @include fluid-type(padding-left padding-right, 320px, 1920px, 15px, 30px);
    background-color: #fff;

    a {
        color: $blue;
        text-decoration: none;
        transition: color $transition;

        &:hover {
            color: $blueLight;
        }
    }
}
