.modal {

    &[aria-hidden='true'] { display: none; }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 7777;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: rgba(0,0,0,0.4);
    }

    &__container {
        position: relative;
        padding: 15px;
        width: 320px;
        max-height: 80%;
        overflow: auto;
        border-radius: 3px;
        background-color: #fff;
    }

    &__body {
        margin: 15px 0 20px;
        line-height: 1.3;

        .modal__image-crop {
            max-height: 50vh;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 -5px;
    }

    &__action {
        padding: 0 5px;
    }

    &__close {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 20px;
        height: 20px;
        padding: 0;
        background: none;
        cursor: pointer;
        border: 0;

        &:hover {

            &:before,
            &:after {
                background-color: $dark;
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            height: 2px;
            width: 100%;
            margin-top: -1px;
            background-color: $grayDarken;
            transition: all $transition;
        }

        &:before { transform: rotate(-45deg); }
        &:after { transform: rotate(45deg); }
    }
}

@media all and (min-width: $tablet) {
    .modal {

        &__container {
            padding: 20px;
            width: 460px;

            &--large {
                width: 560px;
            }
        }

        &__body {
            margin: 20px 0 25px;
        }

        &__close {
            top: 14px;
            right: 14px;
        }
    }
}

@media all and (min-width: $desktop) {
    .modal {

        &__container {
            padding: 25px;
            width: 500px;

            &--large {
                width: 680px;
            }
        }

        &__actions {
            margin: 0 -7px;
        }

        &__action {
            padding: 0 7px;
        }

        &__close {
            top: 16px;
            right: 16px;
            width: 22px;
            height: 22px;
        }
    }
}


@media all and (min-width: $desktopLg) {
    .modal {

        &__container {
            padding: 30px;
            width: 540px;

            &--large {
                width: 740px;
            }
        }

        &__actions {
            margin: 0 -10px;
        }

        &__action {
            padding: 0 10px;
        }

        &__close {
            top: 18px;
            right: 18px;
        }
    }
}
