.searching {
    position: relative;
    margin: 0 0 12px;
    background: #ffffff;
    border-radius: 3px;

    &__form {
        display: flex;
    }

    .form__input {
        flex: 1 1 auto;
        border: 0;
        padding-left: 0;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        @include fluid-type(height, 320px, 1920px, 36px, 48px);
        @include fluid-type(width, 320px, 1920px, 36px, 48px);
        color: $grayDarken;
    }

    &__result {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 777;
        width: 100%;
        max-height: 50vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        overflow: auto;
        background: #ffffff;
        box-shadow: $shadow;

        &-item {
            display: flex;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            @include fluid-type(padding-left, 320px, 1920px, 36px, 48px);
            white-space: nowrap;
            line-height: 1;

            &:hover {
                background-color: rgba($grayLight, 0.3);
            }

            span {
                padding: 0 2em 0 0;
            }
        }
    }
}
